<tr>
    <td><a id="delete{{ product.id }}" class="btn delete">Delete</a>
        <a id="edit{{ product.id }}" class="btn edit">Edit</a>
    </td>
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.description }}</td>
</tr>


